<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../../static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/jacks-supercool-site-c6dd88.webflow.css" rel="stylesheet" type="text/css">
</head>
<body>
<ul class="" id="user-nev">

    <li class="" id="info">
        <a class="button small nav-button w-inline-block" href="{{ url_for('') }}">Information</a>
    </li>

    <li class="nav-item hover-item" id="brand">
        <a href="{{ url_for('') }}">Followed Brand</a>
    </li>
    <li class="nav-item hover-item" id="category">
        <a href="{{ url_for('') }}">Followed Category</a>
    </li>
    <li class="nav-item hover-item" id="prime">
        <a href="{{ url_for('') }}">Prime</a>
    </li>
    <li class="nav-item hover-item" id="Order">
        <a href="{{ url_for('') }}">Order</a>
    </li>



</ul>
</body>
</html>