.my-flash-close{
    float: right !important;
    font-size: 29px !important;
    font-weight: 900 !important;
    line-height: 1 !important;
    text-shadow: none !important;
    opacity: 1 !important;
    color: #5c2e18 !important;
}