{% extends 'base/base-staff.html' %}


{% block title %}Siren Management - Upload Product{% endblock %}



{#  for links to css #}
{% block style %}
    {{ super() }}
{% endblock %}



{# nav search block #}
{% block nav_search %}
    {# the default search block is the one for "stock management" #}
    <div class="iq-search-bar device-search"></div>
{% endblock %}



{# content #}
{% block content %}
    <span id="sidebar-anchor" style="display: none" sidebar-anchor="Add_Product"></span>
    <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">{{ _('Add Product') }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="product_form" method="post" action="/upload-product"
                              enctype="multipart/form-data" data-toggle="validator">
                            <div class="row">
                                <div class="card-group">

                                    <!-- Name Section -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ _('Product Name') }} *</label>
                                            <input name="product_name" type="text" class="form-control"
                                                   placeholder="{{ _('Enter Name') }}"
                                                   data-errors="{{ _('Please Enter Name.') }}">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <!-- Category section --->
                                    <!-- Classification -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{ _('Classification') }} *</label>
                                            <select id="classification" name="categories[]"
                                                    class="selectpicker form-control" data-style="py-0">
                                                <option sn="c1">{{ _("Strings") }}</option>
                                                <option sn="c2">{{ _("Woodwinds") }}</option>
                                                <option sn="c3">{{ _("Brass") }}</option>
                                                <option sn="c4">{{ _("Percussion") }}</option>
                                                <option sn="c5">{{ _("Keyboard") }}</option>
                                                <option sn="c6">{{ _("Accessories") }}</option>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <!-- Type -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{ _('Type') }} *</label>
                                            <select id="type" name="categories[]"
                                                    class="selectpicker form-control" data-style="py-0">
                                                <optgroup label="String">
                                                    <option sn="t1">{{ _("Violin") }}</option>
                                                    <option sn="t2">{{ _("Viola") }}</option>
                                                    <option sn="t3">{{ _("Cello") }}</option>
                                                    <option sn="t4">{{ _("Double Bass")}}</option>
                                                    <option sn="t5">{{ _("Guitar") }}</option>
                                                    <option sn="t6">{{ _("Bass") }}</option>
                                                    <option sn="t7">{{ _("Ukulele") }}</option>
                                                    <option sn="t8">{{ _("Harp") }}</option>
                                                    <option sn="t9">{{ _("Erhu") }}</option>
                                                    <option sn="t10">{{ _("Guzheng") }}</option>
                                                    <option sn="t11">{{ _("Guqin") }}</option>
                                                    <option sn="t12">{{ _("Pipa") }}</option>
                                                </optgroup>

                                                <optgroup label="Woodwind">
                                                    <option sn="t13">{{ _("Flute") }}</option>
                                                    <option sn="t14">{{ _("Clarinet") }}</option>
                                                    <option sn="t15">{{ _("Oboe") }}</option>
                                                    <option sn="t16">{{ _("Piccolo") }}</option>
                                                    <option sn="t17">{{ _("Saxophone") }}</option>
                                                    <option sn="t18">{{ _("English Horn")}}</option>
                                                    <option sn="t19">{{ _("Bassoon") }}</option>
                                                    <option sn="t20">{{ _("Recorder") }}</option>
                                                    <option sn="t21">{{ _("Bagpipes") }}</option>
                                                    <option sn="t22">{{ _("Suona Horn")}}</option>
                                                    <option sn="t23">{{ _("Sheng") }}</option>
                                                </optgroup>

                                                <optgroup label="Brass">
                                                    <option sn="t24">{{ _("Trumpet") }}</option>
                                                    <option sn="t25">{{ _("Trombone") }}</option>
                                                    <option sn="t26">{{ _("French Horn")}}</option>
                                                    <option sn="t27">{{ _("Tuba") }}</option>
                                                    <option sn="t28">{{ _("Euphonium") }}</option>
                                                    <option sn="t29">{{ _("Harmonica") }}</option>
                                                </optgroup>

                                                <optgroup label="Percussion">
                                                    <option sn="t30">{{ _("Timpani") }}</option>
                                                    <option sn="t31">{{ _("Bass Drum")}}</option>
                                                    <option sn="t32">{{ _("Snare") }}</option>
                                                    <option sn="t33">{{ _("Cajon") }}</option>
                                                    <option sn="t34">{{ _("SoundBox") }}</option>
                                                    <option sn="t35">{{ _("Tam-tam") }}</option>
                                                    <option sn="t36">{{ _("Tambourine") }}</option>
                                                    <option sn="t37">{{ _("Marimba & Xylophone")}}</option>
                                                    <option sn="t38">{{ _("Vibraphone") }}</option>
                                                    <option sn="t39">{{ _("Drum Kit")}}</option>
                                                    <option sn="t40">{{ _("Other Percussion")}}</option>
                                                </optgroup>

                                                <optgroup label="Keyboard">
                                                    <option sn="t41">{{ _("Piano") }}</option>
                                                    <option sn="t42">{{ _("Accordion") }}</option>
                                                    <option sn="t43">{{ _("Launchpad") }}</option>
                                                </optgroup>

                                                <optgroup label="Accessories">
                                                    <option sn="t44">{{ _("Effects") }}</option>
                                                    <option sn="t45">{{ _("Synthesizer") }}</option>
                                                    <option sn="t46">{{ _("Microphone") }}</option>
                                                    <option sn="t47">{{ _("Monitor Headphone")}}</option>
                                                </optgroup>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <!-- Additional -->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>{{ _('Additional Specifications') }} *</label>
                                            <select id="additional" name="categories[]"
                                                    class="selectpicker form-control" data-style="py-0">
                                                <option sn="a1">{{ _("Acoustic Only")}}</option>
                                                <option sn="a2">{{ _("Electricity Required")}}</option>
                                                <option sn="a3">{{ _("Electricity Support")}}</option>
                                                <option sn="a4">{{ _("Accessories") }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Brand -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ _('Brand') }} *</label>
                                            <select id="brand" name="product_brand"
                                                    class="selectpicker form-control" data-style="py-0">
                                                <option sn="b1">Lowden</option>
                                                <option sn="b2">Gibson</option>
                                                <option sn="b3">Orange</option>
                                                <option sn="b4">Stentor</option>
                                                <option sn="b5">Martin</option>
                                                <option sn="b6">Buffet Crampon</option>
                                                <option sn="b7">Besson London</option>
                                                <option sn="b8">Hohner</option>
                                                <option sn="b9">Marshall</option>
                                                <option sn="b10">Meinl</option>
                                                <option sn="b11">Henri Selmer Paris</option>
                                                <option sn="b12">Steinway</option>
                                                <option sn="b13">Boss</option>
                                                <option sn="b14">Fender</option>
                                                <option sn="b15">Taylor</option>
                                                <option sn="b16">Yamaha</option>
                                                <option sn="b17">others</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <!-- Initial ModelType Section -->
                                <div class="card-header d-flex justify-content-between">
                                    <div class="header-title">
                                        <h4 class="card-title">{{ _('Product Initial ModelType(s)') }}</h4>
                                    </div>
                                </div>

                                <div id="one-model-type" class="card-group">
                                    <!-- Name section -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ _('Model Name') }} *</label>
                                            <input name="1_model_name" type="text" class="form-control"
                                                   placeholder="{{ _('Enter Name') }}"
                                                   data-errors="{{ _('Please Enter Name.') }}">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <!-- Serial number section -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Serial Number *</label>
                                            <div id="sn_model_type"></div>
                                            <input name="1_model_num" type="text" class="form-control"
                                                   placeholder="{{ _('Enter Serial Number') }}"
                                                   data-errors="{{ _('Please Enter Serial Number.') }}">

                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <!-- Price section -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ _('Price') }} *</label>
                                            <input name="1_model_price" type="text" class="form-control"
                                                   placeholder="{{ _('Enter Price') }}"
                                                   data-errors="{{ _('Please Enter Price.') }}">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <!-- Stock section -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>{{ _('Stock') }} *</label>
                                            <input name="1_model_stock" type="text" class="form-control"
                                                   placeholder="{{ _('Enter Stock') }}"
                                                   data-errors="{{ _('Please Enter Stock.') }}">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <!-- Intro pic section -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ _('Thumbnail') }} *</label>
                                            <input name="1_model_intro_pic" type="file"
                                                   class="form-control image-file" name="pic"
                                                   accept="image/*" multiple="multiple">
                                        </div>
                                    </div>

                                    <!-- Pics section -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ _('Product Pictures') }} *</label>
                                            <input name="1_model_pic" type="file"
                                                   class="form-control image-file" name="pic"
                                                   accept="image/*" multiple="multiple">
                                        </div>
                                    </div>

                                    <!-- Description section -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>{{ _('Description / Product Details') }}</label>
                                            <textarea name="1_model_description" class="form-control"
                                                      rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit"
                                    class="btn btn-primary mr-2">{{ _('Add Product') }}</button>
                            <button type="reset" class="btn btn-danger">{{ _('Reset') }}</button>
                            <a class="btn btn-warning mr-3 justify-content-between"
                               id="add-model-type">+ {{ _('Add Model Type') }}</a>


                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
{% endblock %}



{# for the children templates to define the javascript statements at the end of the 'body' tag #}
{% block scripts_end_body %}
    {{ super() }}
    <!-- page javascript -->
    <script src="../../static/js/management-system.js"></script>
{% endblock %}
