{% extends 'base/base-staff.html' %}


{% block title %}Siren Management - {{ _("Modify Product")}}{% endblock %}



{#  for links to css #}
{% block style %}
    {{ super() }}
{% endblock %}



{# nav search block #}
{% block nav_search %}
    {# the default search block is the one for "stock management" #}
    <div class="iq-search-bar device-search"></div>
{% endblock %}



{# content #}
{% block content %}
    <span id="sidebar-anchor" style="display: none" sidebar-anchor="Products"></span>
    <div class="container-fluid add-form-list">
        <!-- Content Start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">{{ _('Modify Product') }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" data-toggle="validator" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <!-- Name section -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--<label>Product Name *</label>
                                        <input type="text" class="form-control" placeholder="Enter Name" data-errors="Please Enter Name." required>-->
                                        {{ form.name.label }}
                                        {{ form.name(class="form-control", placeholder="{{_('Enter Name')}}") }}
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <!-- Serial number section -->
                                {#                                            <div class="col-md-12">#}
                                {#                                                <div class="form-group">#}
                                {#                                                    <!--<label>Serial Number *</label>#}
                                {#                                                    <input type="text" class="form-control" placeholder="Enter Serial Number" data-errors="Please Enter Serial Number." required>-->#}
                                {#                                                    {{ form.serial_number.label }}#}
                                {#                                                    {{ form.serial_number(class="form-control", placeholder="{{_('Enter Serial Number')}}") }}#}
                                {#                                                    {% for error in form.serial_number.errors %}#}
                                {#                                                        <span>{{ error }}</span>#}
                                {#                                                    {% endfor %}#}
                                {#                                                    <div class="help-block with-errors"></div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}

                                <!-- Catagory section -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{ _('Classification') }} *</label>
                                        <select name="categories[]" class="selectpicker form-control"
                                                data-style="py-0">
                                            <option>{{ _("Strings") }}</option>
                                            <option>{{ _("Woodwinds") }}</option>
                                            <option>{{ _("Brass") }}</option>
                                            <option>{{ _("Percussion") }}</option>
                                            <option>{{ _("Keyboard") }}</option>
                                            <option>{{ _("Accessories") }}</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{ _('Type') }} *</label>
                                        <select name="categories[]" class="selectpicker form-control"
                                                data-style="py-0">
                                            <optgroup label="String">
                                                <option>{{ _("Violin") }}</option>
                                                <option>{{ _("Viola") }}</option>
                                                <option>{{ _("Cello") }}</option>
                                                <option>{{ _("Double Bass")}}</option>
                                                <option>{{ _("Guitar") }}</option>
                                                <option>{{ _("Bass") }}</option>
                                                <option>{{ _("Ukulele") }}</option>
                                                <option>{{ _("Harp") }}</option>
                                                <option>{{ _("Erhu") }}</option>
                                                <option>{{ _("Guzheng") }}</option>
                                                <option>{{ _("Guqin") }}</option>
                                                <option>{{ _("Pipa") }}</option>
                                            </optgroup>

                                            <optgroup label="Woodwind">
                                                <option>{{ _("Flute") }}</option>
                                                <option>{{ _("Clarinet") }}</option>
                                                <option>{{ _("Oboe") }}</option>
                                                <option>{{ _("Piccolo") }}</option>
                                                <option>{{ _("Saxophone") }}</option>
                                                <option>{{ _("English Horn")}}</option>
                                                <option>{{ _("Bassoon") }}</option>
                                                <option>{{ _("Recorder") }}</option>
                                                <option>{{ _("Bagpipes") }}</option>
                                                <option>{{ _("Suona Horn")}}</option>
                                                <option>{{ _("Sheng") }}</option>
                                            </optgroup>

                                            <optgroup label="Brass">
                                                <option>{{ _("Trumpet") }}</option>
                                                <option>{{ _("Trombone") }}</option>
                                                <option>{{ _("French Horn")}}</option>
                                                <option>{{ _("Tuba") }}</option>
                                                <option>{{ _("Euphonium") }}</option>
                                                <option>{{ _("Harmonica") }}</option>
                                            </optgroup>

                                            <optgroup label="Percussion">
                                                <option>{{ _("Timpani") }}</option>
                                                <option>{{ _("Bass Drum")}}</option>
                                                <option>{{ _("Snare") }}</option>
                                                <option>{{ _("Cajon") }}</option>
                                                <option>{{ _("Cymbals") }}</option>
                                                <option>{{ _("Tam-tam") }}</option>
                                                <option>{{ _("Tambourine") }}</option>
                                                <option>{{ _("Marimba & Xylophone")}}</option>
                                                <option>{{ _("Vibraphone") }}</option>
                                                <option>{{ _("Drum Kit")}}</option>
                                                <option>{{ _("Other Percussion")}}</option>
                                            </optgroup>

                                            <optgroup label="Keyboard">
                                                <option>{{ _("Piano") }}</option>
                                                <option>{{ _("Accordion") }}</option>
                                                <option>{{ _("Launchpad") }}</option>
                                            </optgroup>

                                            <optgroup label="Accessories">
                                                <option>{{ _("Effects") }}</option>
                                                <option>{{ _("Synthesizer") }}</option>
                                                <option>{{ _("Microphone") }}</option>
                                                <option>{{ _("Monitor Headphone")}}</option>
                                            </optgroup>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{ _('Extra Requirement') }} *</label>
                                        <select name="categories[]" class="selectpicker form-control"
                                                data-style="py-0">
                                            <option>{{ _("Acoustic Only")}}</option>
                                            <option>{{ _("Electricity Required")}}</option>
                                            <option>{{ _("Electricity Support")}}</option>
                                            <option>{{ _("No Extra Requirement")}}</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <!-- Brand section -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--<label>Brand *</label>
                                        <select name="type" class="selectpicker form-control" data-style="py-0">
                                            <option>b1</option>
                                            <option>b2</option>
                                            <option>b3</option>
                                            <option>b4</option>
                                            <option>b5</option>
                                            <option>b6</option>
                                            <option>b7</option>
                                        </select>-->
                                        {{ form.brand_id.label }}
                                        {{ form.brand_id(class="selectpicker form-control") }}
                                        {% for error in form.brand_id.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--<button type="submit" class="btn btn-primary mr-2">Add Product</button>-->
                            {{ form.submit(class="btn btn-primary mr-2") }}
                            <button type="reset" class="btn btn-danger">{{ _('Reset') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content & Page end  -->
    </div>
{% endblock %}




{# for the children templates to define the javascript statements at the end of the 'body' tag #}
{% block scripts_end_body %}
    {{ super() }}
{% endblock %}

