{% extends 'base/base-staff.html' %}


{% block title %}Siren Management - Journals{% endblock %}


{# blocks for 'meta' tags #}
{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}


{#  for links to css #}
{% block style %}
    {{ super() }}
{% endblock %}



{# nav search block #}
{% block nav_search %}
    {# the default search block is the one for "stock management" #}
    <div class="iq-search-bar device-search">
        <form action="{{ url_for("journal.journal_management") }}" method="post" class="searchbox" method="post"
              id="journals_search">
            <div class="input-group">
                {% if is_search %}
                    <input type="text" name="key_word"
                           placeholder="{{ _('Search here...') }}" value="{{ previous_key }}"
                           class="form-control search-text-input"
                           aria-label="Text input with segmented dropdown button">
                {% else %}
                    <input type="text" name="key_word"
                           placeholder="{{ _('Search here...') }}"
                           class="form-control search-text-input"
                           aria-label="Text input with segmented dropdown button">
                {% endif %}
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-primary"
                            onclick="document:journals_search.submit()">
                        <i class="ri-search-line"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}



{# content #}
{% block content %}
    <span id="sidebar-anchor" style="display: none" sidebar-anchor="List_Journals"></span>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">{{ _("Journal List")}}</h4>
                        <p class="mb-0">
                            {{ _("You can see all the journals in your shop here, and it's available to manage your
                            journals.")}}
                            <br>
                            {{ _("Upload new journals and notifications!")}}
                        </p>
                    </div>
                    <a href="{{ url_for("journal.upload_journal") }}" class="btn btn-primary add-list"><i
                            class="las la-plus mr-3"></i>{{ _("Upload Journal")}}</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive rounded mb-3">
                    <table class="data-table table mb-0 tbl-server-info">
                        <!-- Table head section -->
                        <thead class="bg-white text-uppercase">
                        <tr class="ligth ligth-data">
                            <th>{{ _("Date") }}</th>
                            <th>{{ _("Author") }}</th>
                            <th>{{ _("Journal Content")}}</th>
                            <th>{{ _("Action") }}</th>
                        </tr>
                        </thead>

                        <!-- Table body section -->
                        <tbody class="ligth-body">
                        {% for journal in journal_lst %}
                            <tr id="journal-row-{{ journal.id }}">
                                <!-- journal info -->
                                <td>{{ journal.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</td>
                                <td>{{ journal.author.username }}</td>
                                <td>{{ journal.text }}</td>

                                <!-- "Action" buttons -->
                                <td>
                                    <div class="d-flex align-items-center list-action">
                                        <!-- "View" button -->
                                        <div class="mr-2"
                                             data-toggle="modal"
                                             data-target="#modal-view-{{ journal.id }}">
                                            <a class="badge badge-info clickable"
                                               data-toggle="tooltip"
                                               data-placement="top" title=""
                                               data-original-title="Quick View">
                                                <i class="ri-eye-line mr-0"></i>
                                            </a>
                                        </div>

                                        <!-- "Edit" button -->
                                        <a id="btn-journal-edit-{{ journal.id }}"
                                           class="badge bg-success clickable mr-2 btn-journal-edit"
                                           author-id="{{ journal.author_id }}"
                                           current-user-id="{{ current_user.id }}"
                                           href-url="{{ url_for("journal.edit_journal", journal_id=journal.id) }}"
                                           data-toggle="tooltip"
                                           data-placement="top" title=""
                                           data-original-title="Edit">
                                            <i class="ri-pencil-line mr-0"></i>
                                        </a>

                                        <!-- "Delete" button -->
                                        <a id="btn-journal-delete-{{ journal.id }}"
                                           class="badge bg-warning mr-2 btn-journal-delete"
                                           journal-id="{{ journal.id }}"
                                           data-toggle="tooltip"
                                           data-placement="top"
                                           title="" data-original-title="Delete">
                                            <i class="ri-delete-bin-line mr-0"></i>
                                        </a>

                                    </div>
                                </td>
                            </tr>

                            <!-- -------------------- modal windows for this row -------------------- -->

                            <!-- Modal "View" -->
                            <div class="modal fade" id="modal-view-{{ journal.id }}" tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="popup text-left">
                                                <div class="media align-items-top justify-content-between">
                                                    <h3 class="mb-3">{{ _("Journal Quick View")}}</h3>
                                                    <div class="btn-cancel p-0" data-dismiss="modal"><i
                                                            class="las la-times"></i></div>
                                                </div>
                                                <div class="content edit-notes">
                                                    <div class="card card-transparent card-block card-stretch event-note mb-0">
                                                        <div class="card-body px-0 bukmark">
                                                            <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                                                <div class="quill-tool">
                                                                </div>
                                                            </div>
                                                            <div id="quill-toolbar1">
                                                                <h4>{{ journal.title }}</h4>
                                                                <p>{{ journal.text }}</p>
                                                                <br>
                                                                <hr>
                                                                <p class="float-right">{{ _("Last
                                                                        Edit")}}: {{ journal.timestamp.strftime("%Y-%m-%d %H:%M:%S") }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer border-0">
                                                            <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                                                <div class="btn btn-primary mr-3"
                                                                     data-dismiss="modal">{{ _("Close") }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal "Edit" -->
                            <div class="modal fade" id="modal-edit-{{ journal.id }}" tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="popup text-left">
                                                <div class="media align-items-top justify-content-between">
                                                    <h3 class="mb-3">{{ _("Edit This Journal")}}</h3>
                                                    <div class="btn-cancel p-0" data-dismiss="modal"><i
                                                            class="las la-times"></i></div>
                                                </div>
                                                <div class="content edit-notes">
                                                    <div class="card card-transparent card-block card-stretch event-note mb-0">
                                                        <div class="card-body px-0 bukmark">
                                                            <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                                                <div class="quill-tool">
                                                                </div>
                                                            </div>
                                                            <div id="quill-toolbar1">

                                                                <p>{{ _("Virtual Digital Marketing Course every week
                                                                        on Monday, Wednesday and
                                                                        Saturday.Virtual Digital Marketing Course
                                                                        every week on Monday")}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer border-0">
                                                            <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                                                <div class="btn btn-primary mr-3"
                                                                     data-dismiss="modal">{{ _("Cancel") }}
                                                                </div>
                                                                <div class="btn btn-outline-primary"
                                                                     data-dismiss="modal">{{ _("Save") }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>


    <!-- Modal Edit -->
    <div class="modal fade" id="edit-note" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="popup text-left">
                        <div class="media align-items-top justify-content-between">
                            <h3 class="mb-3">Product</h3>
                            <div class="btn-cancel p-0" data-dismiss="modal"><i class="las la-times"></i></div>
                        </div>
                        <div class="content edit-notes">
                            <div class="card card-transparent card-block card-stretch event-note mb-0">
                                <div class="card-body px-0 bukmark">
                                    <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                        <div class="quill-tool">
                                        </div>
                                    </div>
                                    <div id="quill-toolbar1">
                                        <p>{{ _("Virtual Digital Marketing Course every week on Monday, Wednesday and
                                                Saturday.Virtual Digital Marketing Course every week on Monday")}}</p>
                                    </div>
                                </div>
                                <div class="card-footer border-0">
                                    <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                        <div class="btn btn-primary mr-3" data-dismiss="modal">{{ _("Cancel") }}</div>
                                        <div class="btn btn-outline-primary" data-dismiss="modal">{{ _("Save") }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{# for the children templates to define the javascript statements at the end of the 'body' tag #}
{% block scripts_end_body %}
    {{ super() }}
    <!-- Self-defined js -->
    <script src="../../static/js/staff/journal-listing.js"></script>
{% endblock %}
