{% extends 'base/base-staff.html' %}


{% block title %}Siren Management - {{ _("Modify Product")}}{% endblock %}



{#  for links to css #}
{% block style %}
    {{ super() }}
{% endblock %}



{# nav search block #}
{% block nav_search %}
    {# the default search block is the one for "stock management" #}
    <div class="iq-search-bar device-search"></div>
{% endblock %}



{# content #}
{% block content %}
    <span id="sidebar-anchor" style="display: none" sidebar-anchor="Products"></span>
    <div class="container-fluid add-form-list">
        <!-- Content Start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">{{ _('Modify Product') }}</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" data-toggle="validator" novalidate>
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <!-- Name section -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--<label>Product Name *</label>
                                        <input type="text" class="form-control" placeholder="Enter Name" data-errors="Please Enter Name." required>-->
                                        {{ form.name.label }}
                                        {{ form.name(class="form-control", placeholder="{{_('Enter Name')}}") }}
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <!-- Serial number section -->
                                {#                                            <div class="col-md-12">#}
                                {#                                                <div class="form-group">#}
                                {#                                                    <!--<label>Serial Number *</label>#}
                                {#                                                    <input type="text" class="form-control" placeholder="Enter Serial Number" data-errors="Please Enter Serial Number." required>-->#}
                                {#                                                    {{ form.serial_number.label }}#}
                                {#                                                    {{ form.serial_number(class="form-control", placeholder="{{_('Enter Serial Number')}}") }}#}
                                {#                                                    {% for error in form.serial_number.errors %}#}
                                {#                                                        <span>{{ error }}</span>#}
                                {#                                                    {% endfor %}#}
                                {#                                                    <div class="help-block with-errors"></div>#}
                                {#                                                </div>#}
                                {#                                            </div>#}

                                <!-- Catagory section -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{ _('Classification') }} *</label>
                                        <select name="categories[]" class="selectpicker form-control"
                                                data-style="py-0">
                                            <option value="Strings">{{ _("Strings") }}</option>
                                            <option value="Woodwinds">{{ _("Woodwinds") }}</option>
                                            <option value="Brass">{{ _("Brass") }}</option>
                                            <option value="Percussion">{{ _("Percussion") }}</option>
                                            <option value="Keyboard">{{ _("Keyboard") }}</option>
                                            <option value="Accessories">{{ _("Accessories") }}</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{ _('Type') }} *</label>
                                        <select name="categories[]" class="selectpicker form-control"
                                                data-style="py-0">
                                            <optgroup label="String">
                                                <option value="Violin">{{ _("Violin") }}</option>
                                                <option value="Viola">{{ _("Viola") }}</option>
                                                <option value="Cello">{{ _("Cello") }}</option>
                                                <option value="Double Bass">{{ _("Double Bass")}}</option>
                                                <option value="Guitar">{{ _("Guitar") }}</option>
                                                <option value="Bass">{{ _("Bass") }}</option>
                                                <option value="Ukulele">{{ _("Ukulele") }}</option>
                                                <option value="Harp">{{ _("Harp") }}</option>
                                                <option value="Erhu">{{ _("Erhu") }}</option>
                                                <option value="Guzheng">{{ _("Guzheng") }}</option>
                                                <option value="Guqin">{{ _("Guqin") }}</option>
                                                <option value="Pipa">{{ _("Pipa") }}</option>
                                            </optgroup>

                                            <optgroup label="Woodwind">
                                                <option value="Flute">{{ _("Flute") }}</option>
                                                <option value="Clarinet">{{ _("Clarinet") }}</option>
                                                <option value="Oboe">{{ _("Oboe") }}</option>
                                                <option value="Piccolo">{{ _("Piccolo") }}</option>
                                                <option value="Saxophone">{{ _("Saxophone") }}</option>
                                                <option value="English Horn">{{ _("English Horn")}}</option>
                                                <option value="Bassoon">{{ _("Bassoon") }}</option>
                                                <option value="Recorder">{{ _("Recorder") }}</option>
                                                <option value="Bagpipes">{{ _("Bagpipes") }}</option>
                                                <option value="Suona Horn">{{ _("Suona Horn")}}</option>
                                                <option value="Sheng">{{ _("Sheng") }}</option>
                                            </optgroup>

                                            <optgroup label="Brass">
                                                <option value="Trumpet">{{ _("Trumpet") }}</option>
                                                <option value="Trombone">{{ _("Trombone") }}</option>
                                                <option value="French Horn">{{ _("French Horn")}}</option>
                                                <option value="Tuba">{{ _("Tuba") }}</option>
                                                <option value="Euphonium">{{ _("Euphonium") }}</option>
                                                <option value="Harmonica">{{ _("Harmonica") }}</option>
                                            </optgroup>

                                            <optgroup label="Percussion">
                                                <option value="Timpani">{{ _("Timpani") }}</option>
                                                <option value="Bass Drum">{{ _("Bass Drum")}}</option>
                                                <option value="Snare">{{ _("Snare") }}</option>
                                                <option value="Cajon">{{ _("Cajon") }}</option>
                                                <option value="Cymbals">{{ _("Cymbals") }}</option>
                                                <option value="Tam-tam">{{ _("Tam-tam") }}</option>
                                                <option value="Tambourine">{{ _("Tambourine") }}</option>
                                                <option value="Marimba & Xylophone">{{ _("Marimba & Xylophone")}}</option>
                                                <option value="Vibraphone">{{ _("Vibraphone") }}</option>
                                                <option value="Drum Kit">{{ _("Drum Kit")}}</option>
                                                <option value="Other Percussion">{{ _("Other Percussion")}}</option>
                                            </optgroup>

                                            <optgroup label="Keyboard">
                                                <option value="Piano">{{ _("Piano") }}</option>
                                                <option value="Accordion">{{ _("Accordion") }}</option>
                                                <option value="Launchpad">{{ _("Launchpad") }}</option>
                                            </optgroup>

                                            <optgroup label="Accessories">
                                                <option value="Effects">{{ _("Effects") }}</option>
                                                <option value="Synthesizer">{{ _("Synthesizer") }}</option>
                                                <option value="Microphone">{{ _("Microphone") }}</option>
                                                <option value="Monitor Headphone">{{ _("Monitor Headphone")}}</option>
                                            </optgroup>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{ _('Extra Requirement') }} *</label>
                                        <select name="categories[]" class="selectpicker form-control"
                                                data-style="py-0">
                                            <option value="Acoustic Only">{{ _("Acoustic Only")}}</option>
                                            <option value="Electricity Required">{{ _("Electricity Required")}}</option>
                                            <option value="Electricity Support">{{ _("Electricity Support")}}</option>
                                            <option value="No Extra Requirement">{{ _("No Extra Requirement")}}</option>
                                        </select>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <!-- Brand section -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <!--<label>Brand *</label>
                                        <select name="type" class="selectpicker form-control" data-style="py-0">
                                            <option>b1</option>
                                            <option>b2</option>
                                            <option>b3</option>
                                            <option>b4</option>
                                            <option>b5</option>
                                            <option>b6</option>
                                            <option>b7</option>
                                        </select>-->
                                        {{ form.brand_id.label }}
                                        {{ form.brand_id(class="selectpicker form-control") }}
                                        {% for error in form.brand_id.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!--<button type="submit" class="btn btn-primary mr-2">Add Product</button>-->
                            {{ form.submit(class="btn btn-primary mr-2") }}
                            <button type="reset" class="btn btn-danger">{{ _('Reset') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content & Page end  -->
    </div>
{% endblock %}




{# for the children templates to define the javascript statements at the end of the 'body' tag #}
{% block scripts_end_body %}
    {{ super() }}
{% endblock %}

