{% extends 'base/base-staff.html' %}


{% block title %}Siren Management - {{ _("Stock") }}{% endblock %}



{#  for links to css #}
{% block style %}
    {{ super() }}
{% endblock %}



<!-- Search section on nav bar -->
{# nav search block #}
{% block nav_search %}
    {# the default search block is the one for "stock management" #}
    <div class="iq-search-bar device-search">
        <form action="/stock-management" class="searchbox" method="post"
              id="stock_management_search">
            <div class="input-group">
                {% if is_search %}
                    <input type="text" name="key_word"
                           placeholder="{{ _('Search here...') }}" value="{{ previous_key }}"
                           class="form-control search-text-input"
                           aria-label="Text input with segmented dropdown button">
                {% else %}
                    <input type="text" name="key_word"
                           placeholder="{{ _('Search here...') }}"
                           class="form-control search-text-input"
                           aria-label="Text input with segmented dropdown button">
                {% endif %}
                <input id="invisible-search-type" name="search_type" type="text" style="display:none;" value="1">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-primary"
                            onclick="document:stock_management_search.submit()">
                        <i class="ri-search-line"></i>
                    </button>
                    <button type="button" class="btn btn-primary dropone dropdown-toggle  dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="las">
                            &nbsp;
                            <span id="search-by">
                                {{ _("Model Name") }}
                            </span>
                            &nbsp;
                            <i class="las la-angle-down"></i>
                        </i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:search_by(1);"
                           style="color: #212529">{{ _("Model Name") }}</a>
                        <a class="dropdown-item" href="javascript:search_by(2);"
                           style="color: #212529">{{ _("Model Serial") }}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}



{# content #}
{% block content %}
    <span id="sidebar-anchor" style="display: none" sidebar-anchor="List_Product"></span>
    <!-- Stock Management section -->


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap flex-wrap align-items-center justify-content-between mb-4">
                    <div>
                        <h4 class="mb-3">{{ _('Product List') }}</h4>
                        <p class="mb-0">
                            {{ _("This page effectively list all commodities and provides functionalities") }} <br>
                            {{ _("for you to manage products and model types.") }}
                        </p>
                    </div>
                    <a href="/upload-product" class="btn btn-primary add-list"><i
                            class="las la-plus mr-3"></i>{{ _('Add Product') }}</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive rounded mb-3">
                    <table class="data-table table mb-0 tbl-server-info">
                        <thead class="bg-white text-uppercase">
                            <tr class="ligth ligth-data">
                                <th>{{ _('Product') }}</th>
                                <th>{{ _('Model Type') }}</th>
                            </tr>
                        </thead>
                        <tbody class="ligth-body">
                            {% for product, models in model_dict.items() %}
                                <!-- Each Product-->
                                <tr id="product-section-{{ product.id }}">
                                    <!-- Product section -->
                                    <td>
                                        <table width="100%" height="100%">
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <img src="{{ url_for("static", filename=models[0].pictures[0].address) }}"
                                                             class="img-fluid rounded avatar-50 mr-3"
                                                             alt="image">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        {{ product.name }}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ _('Serial Number') }}:
                                                </td>
                                                <td>
                                                    {{ product.get_serial_number() }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ _('Brand') }}:
                                                </td>
                                                <td>
                                                    {{ product.brand.name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    {{ _('Edit') }}:
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <a class="badge bg-success mr-2"
                                                           data-toggle="tooltip"
                                                           data-placement="top" title=""
                                                           data-original-title="Edit"
                                                           href="/modify-product/{{ product.id }}"><i
                                                                class="ri-pencil-line mr-0"></i></a>
                                                        <a class="badge bg-warning mr-2"
                                                           data-toggle="tooltip"
                                                           data-placement="top" title=""
                                                           data-original-title="Delete"
                                                           href="javascript:remove_product({{ product.id }});"><i
                                                                class="ri-delete-bin-line mr-0"></i></a>
                                                        <a class="badge bg-success mr-2"
                                                           data-toggle="tooltip"
                                                           data-placement="top" title=""
                                                           data-original-title="Upload New Modeltype"
                                                           href="/upload-model-type/{{ product.id }}"><i
                                                                class="ri-add-line mr-0"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <!-- Modeltype section -->
                                    <td>
                                        <table width="100%" height="100%">
                                            <!-- Modeltype heading-->
                                            <tr>
                                                <th>
                                                    <div>{{ _('Name') }}</div>
                                                </th>
                                                <th>
                                                    <div>{{ _('Serial') }}</div>
                                                </th>
                                                <th>
                                                    <div>{{ _('Price') }}</div>
                                                </th>
                                                <th>
                                                    <div>{{ _('Stock') }}</div>
                                                </th>
                                                <th>
                                                    <div>{{ _('Edit') }}</div>
                                                </th>
                                            </tr>
                                            <!-- Each Modeltype of current product -->
                                            {% for model in models %}
                                                {% if not model.is_deleted %}
                                                    <tr id="modeltype-section-{{ model.id }}">
                                                        <td>
                                                            <div>{{ model.name }}</div>
                                                        </td>
                                                        <td>
                                                            <div>{{ model.serial_number }}</div>
                                                        </td>
                                                        <td>
                                                            <div>￥{{ model.price }}</div>
                                                        </td>
                                                        <td>
                                                            <div>{{ model.stock }}</div>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center list-action">
                                                                <a class="badge badge-info mr-2"
                                                                   data-toggle="tooltip"
                                                                   data-placement="top" title=""
                                                                   data-original-title="View"
                                                                   href="{{ url_for("main.model_type_details", mt_id=model.id) }}"><i
                                                                        class="ri-eye-line mr-0"></i></a>

                                                                <a class="badge bg-success mr-2"
                                                                   data-toggle="tooltip"
                                                                   data-placement="top" title=""
                                                                   data-original-title="Edit"
                                                                   href="/modify-model-type/{{ model.id }}"><i
                                                                        class="ri-pencil-line mr-0"></i></a>

                                                                <a class="badge bg-warning mr-2"
                                                                   data-toggle="tooltip"
                                                                   data-placement="top" title=""
                                                                   data-original-title="Delete"
                                                                   href="javascript:remove_model_type({{ model.id }}, {{ product.id }});"><i
                                                                        class="ri-delete-bin-line mr-0"></i></a>

                                                                {# the button for upload media files #}
                                                                <div class="mr-2"
                                                                     data-toggle="modal"
                                                                     data-target="#modal-media-{{ model.id }}">
                                                                    <a class="badge bg-gradient-blue clickable"
                                                                       data-toggle="tooltip"
                                                                       data-placement="top" title=""
                                                                       data-original-title="Media Files">
                                                                        <i class="ri-airplay-line mr-0"></i>
                                                                    </a>
                                                                </div>

                                                                {# ----------------------------------------------------------------------------------------------- #}
                                                                {# ---------------------------------------- Modal windows ---------------------------------------- #}
                                                                {# ----------------------------------------------------------------------------------------------- #}

                                                                <!-- Modal window for three buttons (video, audio, 3d-file) -->
                                                                <div class="modal fade" id="modal-media-{{ model.id }}"
                                                                     tabindex="-1" role="dialog"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered"
                                                                         role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-body">
                                                                                <div class="popup text-left">
                                                                                    <div class="media align-items-top justify-content-between">
                                                                                        <h3 class="mb-3">{{ _("Which kind of
                                                                                            media
                                                                                            to upload") }}</h3>
                                                                                        <div class="btn-cancel p-0"
                                                                                             data-dismiss="modal"><i
                                                                                                class="las la-times"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="content edit-notes">
                                                                                        <div class="card card-transparent card-block card-stretch event-note mb-0">
                                                                                            <div class="card-body px-0 bukmark">
                                                                                                <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                                                                                    <div class="quill-tool">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div id="quill-toolbar1">

                                                                                                    {# the button for upload video #}
                                                                                                    <a data-toggle="modal"
                                                                                                       data-target="#modal-media-video-{{ model.id }}">
                                                                                                        <div class="btn btn-primary mr-3"
                                                                                                             data-dismiss="modal">
                                                                                                            {{ _("Upload Video") }}
                                                                                                        </div>
                                                                                                    </a>

                                                                                                    {# the button for upload Audio #}
                                                                                                    <a data-toggle="modal"
                                                                                                       data-target="#modal-media-audio-{{ model.id }}">
                                                                                                        <div class="btn btn-primary mr-3"
                                                                                                             data-dismiss="modal">
                                                                                                            {{ _("Upload Audio") }}
                                                                                                        </div>
                                                                                                    </a>

                                                                                                    {# the button for upload 3D Model File #}
                                                                                                    <a data-toggle="modal"
                                                                                                       data-target="#modal-media-3d-file-{{ model.id }}">
                                                                                                        <div class="btn btn-primary mr-3"
                                                                                                             data-dismiss="modal">
                                                                                                            {{ _("Upload 3D
                                                                                                                Model") }}
                                                                                                        </div>
                                                                                                    </a>

                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="card-footer border-0">
                                                                                                <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                                                                                    <div class="btn btn-light mr-3"
                                                                                                         data-dismiss="modal">{{ _('Cancel') }}</div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <!-- Modal window for uploading Video -->
                                                                <div class="modal fade"
                                                                     id="modal-media-video-{{ model.id }}" tabindex="-1"
                                                                     role="dialog"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered"
                                                                         role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-body">
                                                                                <div class="popup text-left">
                                                                                    <div class="media align-items-top justify-content-between">
                                                                                        <h3 class="mb-3">{{ _("Upload a Video
                                                                                            File") }}</h3>
                                                                                        <div class="btn-cancel p-0"
                                                                                             data-dismiss="modal"><i
                                                                                                class="las la-times"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="content edit-notes">
                                                                                        <div class="card card-transparent card-block card-stretch event-note mb-0">

                                                                                            {# upload form (file+submit) #}
                                                                                            <form action="{{ url_for("product.upload_video", mt_id=model.id) }}"
                                                                                                  method="post"
                                                                                                  enctype="multipart/form-data">
                                                                                                <div class="card-body px-0 bukmark">
                                                                                                    <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                                                                                        <div class="quill-tool">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    {# form - file input #}
                                                                                                    <div id="quill-toolbar1">
                                                                                                        <div class="input-group mb-3">
                                                                                                            <div class="custom-file">
                                                                                                                <input type="file"
                                                                                                                       accept="video/mp4"
                                                                                                                       name="video_file"
                                                                                                                       class="custom-file-input"
                                                                                                                       id="input-upload-model-type-video"
                                                                                                                       aria-describedby="inputGroupFileAddon01"
                                                                                                                       required="required">
                                                                                                                <label class="custom-file-label"
                                                                                                                       for="input-upload-model-type-video">{{ _("Choose
                                                                                                                    file
                                                                                                                    (MP4
                                                                                                                    Only)") }}</label><br>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="card-footer border-0">
                                                                                                    <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                                                                                        <div class="btn btn-outline-light mr-3"
                                                                                                             data-dismiss="modal">{{ _('Cancel') }}</div>
                                                                                                        {# form - submit #}
                                                                                                        <input type="submit"
                                                                                                               class="btn btn-primary"
                                                                                                               value="Upload">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <!-- Modal window for uploading Audio -->
                                                                <div class="modal fade"
                                                                     id="modal-media-audio-{{ model.id }}" tabindex="-1"
                                                                     role="dialog"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered"
                                                                         role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-body">
                                                                                <div class="popup text-left">
                                                                                    <div class="media align-items-top justify-content-between">
                                                                                        <h3 class="mb-3">{{ _("Upload a Audio
                                                                                            File") }}</h3>
                                                                                        <div class="btn-cancel p-0"
                                                                                             data-dismiss="modal"><i
                                                                                                class="las la-times"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="content edit-notes">
                                                                                        <div class="card card-transparent card-block card-stretch event-note mb-0">

                                                                                            {# upload form (file+submit) #}
                                                                                            <form action="{{ url_for("product.upload_audio", mt_id=model.id) }}"
                                                                                                  method="post"
                                                                                                  enctype="multipart/form-data">
                                                                                                <div class="card-body px-0 bukmark">
                                                                                                    <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                                                                                        <div class="quill-tool">
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    {# form - file input #}
                                                                                                    <div id="quill-toolbar1">
                                                                                                        <div class="input-group mb-3">
                                                                                                            <div class="custom-file">
                                                                                                                <input type="file"
                                                                                                                       accept="audio/mpeg"
                                                                                                                       name="audio_file"
                                                                                                                       class="custom-file-input"
                                                                                                                       id="input-upload-model-type-audio-{{ model.id }}"
                                                                                                                       aria-describedby="inputGroupFileAddon01"
                                                                                                                       required="required">
                                                                                                                <label class="custom-file-label"
                                                                                                                       for="input-upload-model-type-audio-{{ model.id }}">{{ _("Choose
                                                                                                                    file
                                                                                                                    (MP3
                                                                                                                    Only)") }}</label><br>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="card-footer border-0">
                                                                                                    <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                                                                                        <div class="btn btn-outline-light mr-3"
                                                                                                             data-dismiss="modal">{{ _('Cancel') }}</div>
                                                                                                        {# form - submit #}
                                                                                                        <input type="submit"
                                                                                                               class="btn btn-primary"
                                                                                                               value="Upload">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <!-- Modal window for uploading 3D Model File -->
                                                                <div class="modal fade"
                                                                     id="modal-media-3d-file-{{ model.id }}"
                                                                     tabindex="-1"
                                                                     role="dialog"
                                                                     aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered"
                                                                         role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-body">
                                                                                <div class="popup text-left">
                                                                                    <div class="media align-items-top justify-content-between">
                                                                                        <h3 class="mb-3">{{ _("Upload 3D Model") }}</h3>
                                                                                        <div class="btn-cancel p-0"
                                                                                             data-dismiss="modal"><i
                                                                                                class="las la-times"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="content edit-notes">
                                                                                        <div><i>{{ _("If no texture uploaded, a
                                                                                            default one will be given.") }}</i>
                                                                                        </div>
                                                                                        <div class="card card-transparent card-block card-stretch event-note mb-0">

                                                                                            {# upload form (3dfile + texture file +submit) #}
                                                                                            <form action="{{ url_for("product.upload_3d_file", mt_id=model.id) }}"
                                                                                                  method="post"
                                                                                                  enctype="multipart/form-data">
                                                                                                <div class="card-body px-0 bukmark">
                                                                                                    <div class="d-flex align-items-center justify-content-between pb-2 mb-3 border-bottom">
                                                                                                        <div class="quill-tool">
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <!-- input - 3d file -->
                                                                                                    <div id="quill-toolbar1">
                                                                                                        <div class="input-group mb-3">
                                                                                                            <div class="custom-file">
                                                                                                                <input type="file"
                                                                                                                       name="three_d_file"
                                                                                                                       class="custom-file-input"
                                                                                                                       id="input-upload-model-type-3d-{{ model.id }}"
                                                                                                                       aria-describedby="inputGroupFileAddon01"
                                                                                                                       required="required">
                                                                                                                <label class="custom-file-label"
                                                                                                                       for="input-upload-model-type-3d-{{ model.id }}">{{ _("Choose
                                                                                                                    3d model
                                                                                                                    file
                                                                                                                    (.obj/.fbx
                                                                                                                    Only)") }}</label><br>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <!-- input - texture file -->
                                                                                                    <div id="quill-toolbar2">
                                                                                                        <div class="input-group mb-3">
                                                                                                            <div class="custom-file">
                                                                                                                <input type="file"
                                                                                                                       name="three_d_texture_file"
                                                                                                                       class="custom-file-input"
                                                                                                                       id="input-upload-model-type-3d-texture-{{ model.id }}"
                                                                                                                       aria-describedby="inputGroupFileAddon01"
                                                                                                                       accept="image/png">
                                                                                                                <label class="custom-file-label"
                                                                                                                       for="input-upload-model-type-3d-texture-{{ model.id }}">{{ _("Choose
                                                                                                                    texture
                                                                                                                    file
                                                                                                                    (.png
                                                                                                                    only)") }}</label><br>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>
                                                                                                <div class="card-footer border-0">
                                                                                                    <div class="d-flex flex-wrap align-items-ceter justify-content-end">
                                                                                                        <div class="btn btn-outline-light mr-3"
                                                                                                             data-dismiss="modal">{{ _('Cancel') }}</div>
                                                                                                        {# form - submit #}
                                                                                                        <input type="submit"
                                                                                                               class="btn btn-primary"
                                                                                                               value="Upload">
                                                                                                    </div>
                                                                                                </div>
                                                                                            </form>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </table>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
{% endblock %}



{# for the children templates to define the javascript statements at the end of the 'body' tag #}
{% block scripts_end_body %}
    {{ super() }}
    <!-- ajax JavaScript -->
    <script src="../../static/js/stock-management.js"></script>
{% endblock %}
