.middle-floating{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.middle{
    align: center;
    text-align:center
}

.blocker{
    position:fixed;
    width:100%;
    height:100%;
    background-color: #c3c3e0;
    opacity: 0.5;
    z-index: 100;
}

.action_area{
    z-index: 101;
    width: 45%;
    height: 60%;
}

.title_section{
    width:25%;
}

.clickable{
    cursor: pointer;
}

.clicked a{
    background-color: #662b2b;
    color: #fff;
    pointer-events:none;
}

.bg-dark label{
    color: #fff;
}

#address_form{
    padding: 10px;
}

h4.w-commerce-commercecartheading{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.topic_container{
    /*text-align: center;*/
}

.text-middle{
    text-align: center;
}

#address_listing_table{
    width: 100%;
}