.nav_option {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

.nav_option a {
    color: black;
    padding-bottom: 12px;
    padding-top: 8px;
    display: block;
}

.nav_option a:hover {
    background-color: #da8181
}

.nav_topic:hover .nav_option {
    display: block;
}