/*.nav .nav-item {*/
/*    !* let every item float to the left, then they can be located horizontally *!*/
/*    float: start;*/

/*    !* background-color: red; *!*/

/*    !* make each item taking full height of the navbar *!*/
/*    height: 100%;*/
/*    !* making the word in each item align center vertically *!*/
/*    line-height: 57px; !* should same as the height of the parent *!*/
/*}*/

.profile-box{
    margin-top: 25px;
    padding-bottom: 0px;
}

.user-nav {
    list-style: none;
    float: left;
    margin-left: 200px;
}

.button.nav {
    padding: 10px 2px 13px;
    border-style: none;
    font-size: 14px;
    line-height: 21px;
    width: 145px;
    color: #fff;
}

.profile-list {
    list-style: none;
    /*font-size: 25px;*/
}

#right-box {
    width: 55%;
    min-height: 850px;
    margin-left: 385px;
    border: 2px solid #e0e0e0;
}

.avatar-box {
    height: 100px;
    width: 100px;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    float: left;
}

/*.email-name {*/
/*    margin-top: 20px;*/
/*    width: 455px;*/
/*    margin-left: 115px;*/
/*}*/

.date-gender {
    /*margin-bottom: 50px;*/
    /*display: flex;*/
    margin-top: 55%;
}

.email {
    margin-bottom: 25px;
}

.date {
    margin-right: 20px;
    padding-left: 8px;
    padding-right: 8px;
}

.gender {
    padding-left: 8px;
    padding-right: 8px;
}


#info-box {
    height: 33px;
    /*border: 2px solid;*/
    /*border-radius: 3px;*/
}

.username {
    font-weight: 600;
    font-size: 35px;
    margin-top: 30px;
    float: left;
}

#prime-img {
    height: 30px;
    margin-top: 10px;
    /*margin-left: 30px;*/
}

.exp_bar{
    margin-top: 30px;
}

#bottom-bar {
   width: 55%;
    background-color: #ddd;
    float: left;
    /*margin-left: 140px;*/
    /*!* margin-top: 20px; *!*/
    /*margin-bottom: 10px;*/
}

#top-bar{
    width: 50%;
  height: 25px;
  background-color: #ffe700;
  text-align: center;
  line-height: 30px;
  color: white;
}

#left-level{
    margin-left: -10px;
}

#right-level{
    margin-left: 400px;
}
#level-box{
    /*margin-bottom: 5px;*/
    margin-top: -10px;
}
#line{
    width: 95%;
    height: 1px;
    background-color: #e0e0e0;
    margin-bottom: 35px;
    margin-top: 35px;
}

#edit{
    margin-left: 80px;
}
#info-null{
    color: #999999;
}

.avatar-box {
    position: relative;
    z-index: 1;
    display: inline-block;
  }
.avatar-box:after {
       content: "";
    background: rgba(0,0,0,0.4);
    z-index: 2;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    top: 0px;
    right: 0;
    width: 100px;
    height: 100px;
    opacity: 0;
    filter: alpha(opacity=0)
  }
  .avatar-box:hover:after {
    opacity: 100;
    filter: alpha(opacity=0);
    cursor: pointer;
  }


  .avatar-box:before {
       content: "Change";
    display: inline-block;
    float: right;
    position: absolute;
    z-index: 5;
    top: 70px;
    left: 18px;
    opacity: 0;
    color: white;
    filter: alpha(opacity=0);
  }
  .avatar-box:hover:before {
    opacity: 100;
    filter: alpha(opacity=0);
    cursor: pointer;
  }

/*#avatar_form{*/
/*      display:none;*/
/*  }*/