<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Page</title>
</head>
<body>

<ul>
    {% if session.get('username') %}
        {% for room in rooms %}
            {% if role_id == 1 %}
                <li><a href="{{ url_for('chat.chat_for_user') }}">Contact</a></li>
            {% endif %}
            {% if role_id == 2 %}
                <li><a href="/chat/{{room.customer_id}}">{{ room.customer.username }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

{#    for flash #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>
</html>