.body {
    background-color: #fff;
}

table {
    text-align: center;
}

.clickable {
    cursor: pointer;
}

.selectedOne {
    font-size: 16px;
    color: #dd1e1e;
    text-decoration: underline;
}

.content_row_intendation{
    width: 2%;
    max-width: 6px;
    min-width: 2px;
}

.model_col {
    width: 50%
}

.model_thumbnail {
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 150px;
    width: 100%;
}

.order_table{
    border-collapse: separate;
    border-spacing: 2px 35px;
}

.single_order{

}

.basic_info_cell{
    background-color: #f5f5f5;
}

.basic_info_table{
    border-collapse: separate;
    border-spacing: 25px 5px;
    margin-left: -20px;
}

.order_time{
}

.order_num{
    color: #9b9898;
}

.status_col {
    font-size: 20px;
    padding: 7px;
}

.status_wp{
    background-color: #0B7FCE;
    color: #fff;
}

.status_p{
    background-color: #edcb79;
    color: #343434;
}

.status_od{
    background-color: #edcb79;
    color: #343434;
}

.status_wc{
    background-color: #edcb79;
    color: #343434;
}

.status_f{
    background-color: #8F8063;
    color: #fff;
}

.status_c{
    background-color: #767676;
    color: #fff;
}

.status_e{
    background-color: #767676;
    color: #fff
}

.model_listing_table{
    background-color: #eeeeee;
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.model_img_col {
    background-color: #fff;
    width: 50%;
    border-left: 10px solid #eeeeee;
}

.model_name_col {
    background-color: #fff;
    width: 30%;
}

.model_quantity_col {
    background-color: #fff;
    border-right: 10px solid #eeeeee;
}

.view_all{

}

.rn_col {
    text-align: left;
}

.cost_col {
    text-align: left;
}

.address_col{
    text-align: left;
}

.action_col {
    width: 10%;
}

.info_table{
    border-collapse: separate;
    border-spacing: 60px 25px;
}

.action_table{
    border-collapse: separate;
    border-spacing: 0px 5px;
}