/*
    ------------------------ recipient field ------------------------
*/



/*
    ------------------------ address field ------------------------
*/

#address-field{
    margin-bottom: 20px;
}

.address{
    list-style: none;
    border-bottom: gray 1px solid;
}

.address-list{
    padding: 0px;
}

.address-gray{
    color: #6f6f6f;
}
/* THis class should be added to the selected address by js */
.chosen-address{
    background-color: #eff8fa;
}

.hidden-field{
    display: none;
    transition: 2.0s;
}

/*
    ------------------------ shipping method field ------------------------
*/

.shipping-method-list{
    list-style: none;
    background-color: #0B7FCE;
}

.shipping-method-list li{
    float: left;
    padding: 2% 6%;
    border: 2px solid #0B7FCE;
    font-size: 20px;
}

.shipping-method-list li:hover{
    background-color: #8771ff;
    cursor: pointer;
}

#method-delivery {
    margin-right: 5%;
}

#method-self{

}

/* THis class should be added to the selected shipping method by js */
.chosen-shipping-method{
    background-color: #8771ff;
}

.scrollbar{
    overflow-y: scroll;

}

.edit_style {
    padding: 10px 35px 13px;
    background-color: transparent;
    -webkit-transition: color 200ms ease, background-color 200ms ease;
    transition: color 200ms ease, background-color 200ms ease;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
}

.edit_style.bg-primary-dar {
    border: 2px solid #293336;
    color: #293336;
}

.edit_style.bg-primary-dar:hover{
    border-color: #BD736E;
    color: #BD736E;
}

