<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test - index</title>
</head>
<body>

{# The top navbar #}
<ul>
    {% if session.get('username') %}
        <li><a href="{{ url_for('auth.logout') }}">LogOut</a></li>
    {% else %}
        <li><a href="{{ url_for('auth.login') }}">LogIn</a></li>
    {% endif %}

    {# Test the payment #}
    <li><a href="{{ url_for('payment.pay_order', order_id=99991) }}">Test Payment</a></li>
    <li><a href="{{ '/stock-management' }}">Stock Management</a></li>
    <li><a href="{{ url_for('product.upload_product') }}">Upload Product</a></li>
    <li><a href="{{ '/modify-product/1' }}">Modify Product</a></li>
    <li><a href="{{ '/upload-model-type/1' }}">Upload Model</a></li>
    <li><a href="{{ '/modify-model-type/1' }}">Modify Model</a></li>
    <li><a href="{{ '/chat_room' }}">Chat</a></li>
    <li><a href="{{ '/change_language' }}">Change Language</a></li>
    <li><a href="{{ url_for('main.index_real') }}">Real index</a></li>
</ul>

{#    for flash #}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>
</html>