{% extends "base/base-customer.html" %}

{% block title %}The Siren - All Commodities{% endblock %}

{#  for links to css #}
{% block style %}
    <link rel="icon" href="../../static/images/half-logo.png">

    <link href="../../static/css/normalize.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/webflow.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/main/all_commodities.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/main/commodities_card.css" rel="stylesheet" type="text/css">
    <link href="../../static/css/jacks-supercool-site-c6dd88.webflow.css" rel="stylesheet" type="text/css">
    <!-- [if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"
            type="text/javascript"></script><![endif] -->
    <script type="text/javascript">!function (o, c) {
        var n = c.documentElement, t = " w-mod-";
        n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch")
    }(window, document);</script>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="images/webclip.png" rel="apple-touch-icon">
    <style>
        body {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
        }

        select, input, textarea {
            -webkit-appearance: none;
        }
    </style>
{% endblock %}

{# content #}
{% block content %}
<html data-wf-page="6221c36b59f198bf8d5ac611" data-wf-site="6221c36b59f1986aa65ac5f0"
      xmlns="http://www.w3.org/1999/html">

    <body>

        <div class="section shop-title wf-section">
            <div class="main-container">
                <h1 class="medium-heading no-bottom-margin">All Products</h1>
            </div>
        </div>

        <div class="section wf-section">
            <div class="main-container">
                <div class="w-layout-grid sidebar-layout-grid">
                    <div class="sidebar">
                        <div>

                            <form id="category_checkbox">
                                <h4 class="">{{ _("By Category")}}</h4>
                                <h5 style="color: #444444">{{ _("Classification") }}</h5>

                                <div id="class_checkbox" class="checkbox-thirds-grid subscribe-form">

                                    <label class="checkbox-labels">
                                        <input id="check_class_1" name="" type="checkbox"
                                               class="checkbox w--redirected-checked category">
                                        {{ _("See All")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_class_2" name="c1" type="checkbox" class="checkbox category">
                                        {{ _("String") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_class_3" name="c2" type="checkbox" class="checkbox category">
                                        {{ _("Woodwinds") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_class_4" name="c3" type="checkbox" class="checkbox category">
                                        {{ _("Brass") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_class_5" name="c4" type="checkbox" class="checkbox category">
                                        {{ _("Percussion") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_class_6" name="c5" type="checkbox" class="checkbox category">
                                        {{ _("Keyboard") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_class_7" name="c6" type="checkbox" class="checkbox category">
                                        {{ _("Accessories") }}
                                    </label>

                                </div>

                                <br>
                                <h5 style="color: #444444">{{ _("Type") }}</h5>

                                <div id="type_checkbox" class="checkbox-thirds-grid subscribe-form">

                                    <label class="checkbox-labels">
                                        <input id="check_type_1" name="" type="checkbox"
                                               class="checkbox w--redirected-checked type">
                                        {{ _("See All")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_2" name="t1" type="checkbox" class="checkbox type">
                                        {{ _("Violin") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_3" name="t2" type="checkbox" class="checkbox type">
                                        {{ _("Viola") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_4" name="t3" type="checkbox" class="checkbox type">
                                        {{ _("Cello") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_5" name="t4" type="checkbox" class="checkbox type">
                                        {{ _("Double Bass")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_6" name="t5" type="checkbox" class="checkbox type">
                                        {{ _("Guitar") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_7" name="t6" type="checkbox" class="checkbox type">
                                        {{ _("Bass") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_8" name="t7" type="checkbox" class="checkbox type">
                                        {{ _("Ukulele") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_9" name="t8" type="checkbox" class="checkbox type">
                                        {{ _("Harp") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_10" name="t9" type="checkbox" class="checkbox type">
                                        {{ _("Erhu") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_11" name="t10" type="checkbox" class="checkbox type">
                                        {{ _("Guzheng") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_12" name="t11" type="checkbox" class="checkbox type">
                                        {{ _("Guqin") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_13" name="t12" type="checkbox" class="checkbox type">
                                        {{ _("Pipa") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_14" name="t13" type="checkbox" class="checkbox type">
                                        {{ _("Flute") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_15" name="t14" type="checkbox" class="checkbox type">
                                        {{ _("Clarinet") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_16" name="t15" type="checkbox" class="checkbox type">
                                        {{ _("Oboe") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_17" name="t16" type="checkbox" class="checkbox type">
                                        {{ _("Piccolo") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_18" name="t17" type="checkbox" class="checkbox type">
                                        {{ _("Saxophone") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_19" name="t18" type="checkbox" class="checkbox type">
                                        {{ _("English Horn")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_20" name="t19" type="checkbox" class="checkbox type">
                                        {{ _("Bassoon") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_21" name="t20" type="checkbox" class="checkbox type">
                                        {{ _("Recorder") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_22" name="t21" type="checkbox" class="checkbox type">
                                        {{ _("Bagpipes") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_23" name="t22" type="checkbox" class="checkbox type">
                                        {{ _("Suona Horn")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_24" name="t23" type="checkbox" class="checkbox type">
                                        {{ _("Sheng") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_25" name="t24" type="checkbox" class="checkbox type">
                                        {{ _("Trumpet") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_26" name="t25" type="checkbox" class="checkbox type">
                                        {{ _("Trombone") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_27" name="t26" type="checkbox" class="checkbox type">
                                        {{ _("French Horn")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_28" name="t27" type="checkbox" class="checkbox type">
                                        {{ _("Tuba") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_29" name="t28" type="checkbox" class="checkbox type">
                                        {{ _("Euphonium") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_30" name="t29" type="checkbox" class="checkbox type">
                                        {{ _("Harmonica") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_31" name="t30" type="checkbox" class="checkbox type">
                                        {{ _("Timpani") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_32" name="t31" type="checkbox" class="checkbox type">
                                        {{ _("Bass Drum")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_33" name="t32" type="checkbox" class="checkbox type">
                                        {{ _("Snare") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_34" name="t33" type="checkbox" class="checkbox type">
                                        {{ _("Cajon") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_35" name="t34" type="checkbox" class="checkbox type">
                                        {{ _("SoundBox") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_36" name="t35" type="checkbox" class="checkbox type">
                                        {{ _("Tam-tam") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_37" name="t36" type="checkbox" class="checkbox type">
                                        {{ _("Tambourine") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_38" name="t37" type="checkbox" class="checkbox type">
                                        {{ _("Marimba & Xylophone")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_39" name="t38" type="checkbox" class="checkbox type">
                                        {{ _("Vibraphone") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_40" name="t39" type="checkbox" class="checkbox type">
                                        {{ _("Drum Kit")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_41" name="t40" type="checkbox" class="checkbox type">
                                        {{ _("Other Percussion")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_42" name="t41" type="checkbox" class="checkbox type">
                                        {{ _("Piano") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_43" name="t42" type="checkbox" class="checkbox type">
                                        {{ _("Accordion") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_44" name="t43" type="checkbox" class="checkbox type">
                                        {{ _("Launchpad") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_45" name="t44" type="checkbox" class="checkbox type">
                                        {{ _("Effects") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_46" name="t45" type="checkbox" class="checkbox type">
                                        {{ _("Synthesizer") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_47" name="t46" type="checkbox" class="checkbox type">
                                        {{ _("Microphone") }}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_type_48" name="t47" type="checkbox" class="checkbox type">
                                        {{ _("Monitor Headphone")}}
                                    </label>

                                </div>

                                <br>
                                <h5 style="color:#444444;">{{ _("Additional Requirements")}}</h5>

                                <div id="add_checkbox" class="checkbox-thirds-grid subscribe-form">

                                    <label class="checkbox-labels">
                                        <input id="check_add_1" name="" type="checkbox"
                                               class="checkbox w--redirected-checked add">
                                        {{ _("See All")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_add_2" name="a1" type="checkbox" class="checkbox add">
                                        {{ _("Acoustic Only")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_add_3" name="a2" type="checkbox" class="checkbox add">
                                        {{ _("Electricity Required")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_add_4" name="a3" type="checkbox" class="checkbox add">
                                        {{ _("Electricity Support")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_add_5" name="a4" type="checkbox" class="checkbox add">
                                        {{ _("Accessories") }}
                                    </label>
                                </div>

                                <br>
                                <h5 style="color: #444444;">{{ _("Brands") }}</h5>
                                <div id="brand_checkbox" class="checkbox-thirds-grid">

                                    <label class="checkbox-labels">
                                        <input id="check_brand_1" name="" type="checkbox"
                                               class="checkbox w--redirected-checked brands">
                                        {{ _("See All")}}
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_2" name="b1" type="checkbox" class="checkbox brands">
                                        Lowden
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_3" name="b2" type="checkbox" class="checkbox brands">
                                        Gibson
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_4" name="b3" type="checkbox" class="checkbox brands">
                                        Orange
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_5" name="b4" type="checkbox" class="checkbox brands">
                                        Stentor
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_6" name="b5" type="checkbox" class="checkbox brands">
                                        Martin
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_7" name="b6" type="checkbox" class="checkbox brands">
                                        Buffet Crampon
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_8" name="b7" type="checkbox" class="checkbox brands">
                                        Besson London
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_9" name="b8" type="checkbox" class="checkbox brands">
                                        Hohner
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_10" name="b9" type="checkbox" class="checkbox brands">
                                        Marshall
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_11" name="b10" type="checkbox" class="checkbox brands">
                                        Meinl
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_12" name="b11" type="checkbox" class="checkbox brands">
                                        Henri Selmer Paris
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_13" name="b12" type="checkbox" class="checkbox brands">
                                        Steinway
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_14" name="b13" type="checkbox" class="checkbox brands">
                                        Boss
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_15" name="b14" type="checkbox" class="checkbox brands">
                                        Fender
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_16" name="b15" type="checkbox" class="checkbox brands">
                                        Taylor
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_17" name="b16" type="checkbox" class="checkbox brands">
                                        Yamaha
                                    </label>
                                    <label class="checkbox-labels">
                                        <input id="check_brand_18" name="b17" type="checkbox" class="checkbox brands">
                                        others
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>

                    {# The model list section #}
                    <div class="w-dyn-list">
                        <div id="model-list" role="list" class="product-thirds-grid w-dyn-items">
                            {% for mt in mt_list %}
                                {# This represent each model card #}
                                <div role="listitem" class="w-dyn-item commodity-card">
                                    <div>
                                        {#                          <a href="{{ url_for("main.model_type_details", mt_id=mt.id) }}" class="product-preview-link w-inline-block">#}
                                        <a href="/product-details/{{ mt.id }}" class="product-preview-link w-inline-block">
                                            {#                              <img src="{{ url_for("static",filename=mt.pictures.first().address) }}" loading="lazy" alt="" class="product-thumbnail">#}
                                            <div class="commodity-pic
                                                 {% if (mt.video_address == None or mt.video_address == "") and (mt.audio_addresses.count() == 0) and (mt.three_d_model_address != None and mt.three_d_model_address != "") %}
                                                    commodity-pic1
                                                 {% elif (mt.video_address == None or mt.video_address == "") and (mt.audio_addresses.count() != 0) and (mt.three_d_model_address == None or mt.three_d_model_address == "") %}
                                                    commodity-pic2
                                                 {% elif (mt.video_address != None and mt.video_address != "") and (mt.audio_addresses.count() == 0) and (mt.three_d_model_address == None or mt.three_d_model_address == "") %}
                                                    commodity-pic3
                                                 {% elif (mt.video_address != None and mt.video_address != "") and (mt.audio_addresses.count() != 0) and (mt.three_d_model_address == None or mt.three_d_model_address == "") %}
                                                    commodity-pic4
                                                 {% elif (mt.video_address != None and mt.video_address != "") and (mt.audio_addresses.count() == 0) and (mt.three_d_model_address != None and mt.three_d_model_address != "") %}
                                                    commodity-pic5
                                                 {% elif (mt.video_address == None or mt.video_address == "") and (mt.audio_addresses.count() != 0) and (mt.three_d_model_address != None and mt.three_d_model_address != "") %}
                                                    commodity-pic6
                                                 {% elif (mt.video_address != None and mt.video_address != "") and (mt.audio_addresses.count() != 0) and (mt.three_d_model_address != None and mt.three_d_model_address != "") %}
                                                    commodity-pic7
                                                 {% endif %}">
                                                <img src="../../static/{{ mt.pictures.first().address }}"
                                                     loading="lazy" alt="" class="product-thumbnail">
                                            </div>
                                            <div class="uppercase-text brand brand-row">{{ mt.product.brand.name }}</div>
                                            <h5 class="no-bottom-margin">{{ mt.name }}</h5>
                                            <div class="price-container">
                                                <div class="old-price"><span>￥</span>{{ mt.price*2 }}</div>
                                                <div><span>￥</span>{{ mt.price }}</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {# when there is no model found #}
                        {% if mt_list | length == 0 %}
                            <div class="empty-state w-dyn-empty">
                                <div>There are no published Products yet.</div>
                            </div>
                        {% endif %}

                        <div role="navigation" aria-label="List" class="w-pagination-wrapper pagination">
                            <a href="#" aria-label="Previous Page" class="w-pagination-previous button small"><img
                                    src="images/icon-caret-right.svg" loading="lazy" alt=""
                                    class="pagination-arrow left">
                                <div class="w-inline-block">{{ _("Previous") }}</div>
                            </a>
                            <a href="#" aria-label="Next Page" class="w-pagination-next button small">
                                <div class="w-inline-block">{{ _("Next") }}</div>
                                <img src="images/icon-caret-right.svg" loading="lazy" alt="" class="pagination-arrow">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Subscribe Section -->
        <div class="section bg-dark wf-section">
            <div class="main-container">
                <div class="w-layout-grid grid-halves">
                    <div class="w-layout-grid social-images">
                        <img src="../../static/images/index/guitar.jpg" loading="lazy" alt="">
                        <img src="../../static/images/index/wind.jpg" loading="lazy" alt="">
                        <img src="../../static/images/index/keyboard.jpg" loading="lazy" alt="">
                    </div>
                    <div class="text-center">
                        <h4 class="medium-heading slogan">{{ _('Music should strike fire from the heart of man.') }}</h4>
                        <h6 class="small-heading slogan_name">{{ _('Beethoven') }}</h6>
                        <div class="button-row justify-content-center">
                            <a href="{{ url_for('auth.register') }}" target="_blank"
                               class="button bg-white-faded w-inline-block">
                                <div>{{ _('Start Voyage') }}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=6221c36b59f1986aa65ac5f0"
                type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous"></script>
        <script src="../../static/js/webflow.js" type="text/javascript"></script>
        <!-- [if lte IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>
        <![endif] -->
        <script src="../../static/js/main/commodities_filter.js"></script>
    </body>
    <script type="text/javascript" src="../../static/js/cart/sidebar_cart.js"></script>
</html>
{% endblock %}