.fade-away {
    opacity: 0;
    transition: 0.25s;
}

.flash-bar{
    transition: 0.5s;
    transition-delay: 0.3s;
    height: 49px;
}

.flash-contents{
    font-size: 14px;
    line-height: 21px;
}

.flash-text{
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
}

.closed{
    height: 0px;
    /*-moz-transition: all 2s; !* Firefox 4 *!*/
    /*-webkit-transition: all 2s; !* Safari 和 Chrome *!*/
    /*-o-transition: all 2s; !* Opera *!*/
}