body {
  background:#151719;
}
.loader{
  background-color: #000000;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow: hidden !important;
    right: 0px;
    z-index: 999999
}

.loader-center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:70px;
  display:flex;
}

.loader span {
  width:10px;
  height:60px;
  background: #000000;
  margin:0px 1px;
  animation:loading 800ms ease-in-out infinite;
}
.loader span:nth-child(1) {
  background:#662b2b;
  animation-delay:-700ms;
}
.loader span:nth-child(2) {
  background:#3D3430;
  animation-delay:-600ms;
}
.loader span:nth-child(3) {
  background:#BD736E;
  animation-delay:-500ms;
}
.loader span:nth-child(4) {
  background:#AEABA8;
  animation-delay:-400ms;
}
.loader span:nth-child(5) {
  background:#8F9FB3;
  animation-delay:-300ms;
}
.loader span:nth-child(6) {
  background:#828F7C;
  animation-delay:-200ms;
}

@keyframes loading {
  0%,60%,100% {
    transform:scaleY(0.05);
  }
  35% {
    transform:scale(1);
  }
}