<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <table border="1" width="100%">
            <tr id="basic_info_row_1">
                <td colspan="5">
                    <table id="basic_info_table_1" border="1" class="basic_info_table">
                        <tr>
                            <td id="order_time_1">
                                2022-04-07 09:42:15.306
                            </td>
                            <td id="order_num_1">
                                Trade No.0123456789876543210
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr id="title_role_1">
                <th>
                    Models
                </th>
                <th>
                    Recipient Name
                </th>
                <th>
                    Total Price
                </th>
                <th>
                    Status
                </th>
                <th>
                </th>
            </tr>
            <tr>
                <td>
                    <table border="1" width="100%">
                        <tr>
                            <td>
                                PIC
                            </td>
                            <td>
                                Model 1
                            </td>
                            <td>
                                X 5
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PIC
                            </td>
                            <td>
                                Model 2
                            </td>
                            <td>
                                X 1
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    MasterBranch
                </td>
                <td>
                    $100.00
                </td>
                <td>
                    Finished
                </td>
                <td>
                    <table border="1" width="100%">
                        <tr>
                            <td>
                                After Sale Service
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Comment
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>