<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <td colspan="2">
                    <table border="1" width="100%">
                        <tr>
                            <td colspan="2">
                                Basic Information
                            </td>
                        </tr>
                        <tr>
                            <td>
                                --
                            </td>
                            <td>
                                <table border="1" width="100%">
                                    <tr>
                                        <td>
                                            2022-04-08
                                        </td>
                                        <td>
                                            Delivering
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Trade No.asdflkasjdfoijajnvjbao/wiejf
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            Payment No.12345678987654321
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                Address Information
                            </td>
                        </tr>
                        <tr>
                            <td>
                                --
                            </td>
                            <td>
                                <table border="1" width="100%">
                                    <tr>
                                        <td>
                                            Victor
                                        </td>
                                        <td>
                                            18611751533
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            China Beijing Beijing East District
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table border="1" width="100%">
                        <tr>
                            <td>
                                PIC
                            </td>
                            <td>
                                Model 1
                            </td>
                            <td>
                                X 5
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PIC
                            </td>
                            <td>
                                Model 2
                            </td>
                            <td>
                                X 1
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border="1" width="100%" class="progress_table">
                            <tr>
                                <td rowspan="2" class="progress_mark">
                                    \/
                                </td>
                                <td class="progress_stage">
                                    Orderd
                                </td>
                            </tr>
                            <tr>
                                <td class="progress_time">
                                    2022-04-08
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="progress_mark">
                                    \/
                                </td>
                                <td class="progress_stage">
                                    Preparing
                                </td>
                            </tr>
                            <tr>
                                <td class="progress_time">
                                    2022-04-08
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="progress_mark">
                                    \/
                                </td>
                                <td class="progress_stage">
                                    Delivering
                                </td>
                            </tr>
                            <tr>
                                <td class="progress_time">
                                    2022-04-08
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="progress_mark">
                                    \/
                                </td>
                                <td class="progress_stage">
                                    Finished
                                </td>
                            </tr>
                            <tr>
                                <td class="progress_time">
                                    2022-04-08
                                </td>
                            </tr>
                        </table>
                </td>
            </tr>
        </table>
    </body>
</html>