<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}The Siren{% endblock %}</title>



    {#  for links to css #}
    {% block style %}{% endblock %}

    {# import the jQuery #}
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.js"></script>

    {#  for scripts of javascript #}
    {% block scripts %}{% endblock %}
</head>
<body>


    {# content #}
    {% block content %}{% endblock %}


    {# for the children templates to define the javascript statements at the end of the 'body' tag #}
    {% block scripts_end_body %}{% endblock %}


</body>


    {# for the children templates to define the javascript statements after the 'body' tag #}
    {% block scripts_after_body %}{% endblock %}


</html>